.body{
    background: url("/static/login/images/manga-back.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit{
    margin: 20px !important;
}

.idinput{
    min-width: 450px !important;
}

a{
    color: white !important;
    text-shadow: 0 0 5px black;
}

.form{
    margin-top: -100px;
}